!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Short url
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = yield :load_page_css
    = yield :css
  %body
    = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :load_page_js
    = yield :javascript

